/* GRID */

*, *:before, *:after {
  box-sizing: inherit;
}

  .columns:before,
  .columns:after {
   content:"";
   display:table;
  }



.columns:after {
 clear:both;
}

.columns {
 zoom:1;
 overflow: hidden;
}

.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.column {
 float: left;
 white-space: nowrap;
}

.two.columns .column, .column-two {
 width: 50%;
}

.columns.three .column, .column-three {
 width: 33.33333%;
}

.four.columns .column, .column.column-four {
 width: 25%;
}


html {
  height: 100%;
}

body {
  /* background-image: url(/backgrounds/birdwoodpanel.jpg); */
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  color: red;
  margin: 30px;
  margin-bottom: -20px;
}

textarea {
  font-size: 10px;
/*     width: 450px; */

}

.text {
  font-size: 10px;
/*   border: 1px solid black; */
}

.container {
    max-width: 100%;
    height: auto;
/*  border: solid 1px red; */
}

.input {
  background-color: blue;
  margin: 30px;
  font-size: 20px;
  float: left;
  display: inline;
  width:40%;
  border: none;
  /*   height: 400px; */
  /*   width: 50% */
  /*   position: fixed; */
  /*   border: solid 1px black; */
}

.output {
  background-color: green;
/*   position: fixed;
margin-right: auto;
margin-left: auto; */
  margin: 30px;
  display: inline;
/*   font-size: 14px; */
  float: left;
  width:40%;
  font-size: 20px;
  /*   overflow: hidden; */
  /*   border: solid 1px black; */
  /*   height: 526px;
        width: 372px; */
  /*   width:48%; */
}
