<div class="container">

<div class="title-image">
  <img src="/pictures/markdown_turtles_banner.png" alt="" />
</div>



    <section class="markdown">

        <div class="markdown-title">
          Markdown
        </div>

        {{textarea value=markdown cols="50" rows="20" placeholder="Write markdown here"}}

    </section>

      <div class="html-title">
        HTML
      </div>

    <section class="output">
        <div class="html">
          {{showdown-addon markdown}}
        </div>
    </section>



</div>


{{outlet}}
